.main_container 
{
    height: 46px;
    width: auto;
    padding: 3px;
    margin: 2px;
    max-width: 270px;
    background-color: #1b2b60;
    align-content: center;
}

.toast_boi 
{
    font-family: Arial;
    font-size: 150%;
    margin: 8px;
    color: white;
}